
.accordion__list{
  margin: 0 auto;
  max-width: 100%;
  }
.accordion{
  border-radius: 10px;
  padding: 0px 15px;
  background-color: #fff;
  box-shadow: 4px 4px 48px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 10px;

&__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  text-align: left;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  color: #242424;

  }
  &__title-box{
    margin-left: 30px;
  }
  &__box{
    display: flex;
    align-items: center;
    svg{
      display: inline-block;
      width: 40px;
      height: 40px;
    }
  }

&__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(36, 36, 36, 0.5);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-right: 70px;
  will-change: max-height;
  transition: all 0.3s ease-out;
  box-sizing: content-box;
}
&__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-color);
}
&__subtitle{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-color);
}
&__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../img/cloze.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-out;
}
&:not(:first-child){
  margin-top: -1px;
}
}

.open .accordion__icon {
  transform: rotate(90deg);
}

.open .accordion__content {
  opacity: 1;
  padding-bottom: 18px;}
