.footer{


&__container{
  background: #CCD0FC;
  padding: 49px 168px;
  display: flex;
  justify-content: space-between;
  }
  &__logo{
    padding-bottom: 30px;
  }
  &__descr{
  margin: 0;
  max-width: 253px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  color: var(--gray-color);
  }
&__descr-hidden{
  display: none;
  margin: 0;
  max-width: 253px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  color: var(--gray-color);
  }
  &__item{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
  }
  &__link{
    color: #7224F3;
  }
  &__sotial{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #131336;
  }
  .sotial__item{
    &:not(:last-child){
      margin-right: 20px;
    }
  }
}
@include tablet{
.footer__list{
  display: none;
}
@include for-desktop{
  .footer__container{
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .footer__sotial-inner{
    margin: 0 auto;
  }
  .footer__descr{
    display: none;
  }
  .footer__descr-hidden{
    display: block;
  }
  .footer__text{
    text-align: center;
  }
}
}
