.entry{

&__container{
  padding: 0px 10px;
  min-height: 100vh;
  background: linear-gradient(231.71deg, #ED547F 15.96%, #7E28E8 72.06%);
}
&__logo{
  padding:55px;
}
&__inner{
  display: flex;
}
&__title{
  margin: 0;
  padding: 0px 0px 18px 143px;
  max-width: 746px;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 60px;
  line-height: 113%;
  color: var(--light-color);
  mix-blend-mode: normal;
  text-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);

  span{
    color: #8FE4FF;
  }
}
&__descr{
  margin: 0;
  margin-left: 143px;
  max-width: 496px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--light-color);
}
&__img{
  margin-left: 54px;
  background-image: url('../img/computer-work.png');
  width: 635px;
  height: 476px;
}
&__text{
  margin: 0;
  max-width: 496px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: var(--light-color);
  margin-bottom: 100px;
}
&__form{
  max-width: 450px;
  height: 443px;
}
}
@include big-desktop{
.entry__title{
  padding-left: 30px;
}
.entry__descr{
  margin-left: 30px;
}
.entry__img{
  margin-left: 0;
}
}
@include tablet{
.entry__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entry__left{
  display: none;
}
.entry__logo{
  padding-left: 0;
}
.entry__text{
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 78px;

}
}
