.hero-record{

  &__container{
    padding-top: 150px;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(231.71deg, #ED547F 15.96%, #7E28E8 72.06%);
  }
  &__descr{
    color: var(--light-color) !important;
  }
}
