.nav {
display: flex;
&__list {
  display: flex;
  align-items: center;

  &:not(:last-child){
    margin-right: 200px;
  }
}
&__item {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;

  &:not(:last-child) {
    margin-right: 41px;
  }
}
&__link {
  color: var(--light-color);
}
&__hidden{
  display: none;
}
}

@include tablet{
  .nav__item{
    margin-right: 20px !important;
  }
}

@include for-desktop{
.nav{
  display: block;
  position: fixed;
  border-radius: 4px;
  right: 0;
  top: 48px;
  z-index: 10;
  width: 40%;
  max-width: 260px;
  overflow: auto;
  background-color:transparent;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
  }
.nav__visible {
  transform: none;
}
.nav__list{
  display: block;
}
.nav__item{
  margin-bottom: 10px;
}

}
