<section class="card">
  <div class="container card__container">
    <div class="dots card__dots">
      <img src="img/svg/dots.svg" aria-label="false">
      <img src="img/svg/dots.svg" aria-label="false">
      <img src="img/svg/dots.svg" aria-label="false">
    </div>
    <h2 class="card__title">Что мы предлагаем</h2>
    <ul class="list-reset card__list">
      <li class="card__item">
        <p class="card__descr">Учебные материалы по робототехнике</p>
        <div class="card__img-box">
          <img src="img/card1.png" alt="Иконка" class="card__img">
        </div>
      </li>
      <li class="card__item">
        <p class="card__descr">Учебные материалы по электронике</p>
        <div class="card__img-box">
          <img src="img/card2.png" alt="Иконка" class="card__img">
        </div>
      </li>
      <li class="card__item">
        <p class="card__descr">Учебные материалы по программированию</p>
        <div class="card__img-box">
          <img src="img/card3.png" alt="Иконка" class="card__img">
        </div>
      </li>
      <li class="card__item">
        <p class="card__descr">Вебинары и онлайн уроки</p>
        <div class="card__img-box">
          <img src="img/card4.png" alt="Иконка" class="card__img">
        </div>
      </li>
      <li class="card__item">
        <p class="card__descr">Общение
          с профессионалами</p>
        <div class="card__img-box">
          <img src="img/card5.png" alt="Иконка" class="card__img">
        </div>
      </li>
      <li class="card__item">
        <p class="card__descr">Инструкции к роботам</p>
        <div class="card__img-box">
          <img src="img/card6.png" alt="Иконка" class="card__img">
        </div>
      </li>
    </ul>
  </div>
</section>
