<section class="carusel">
  <div class="container carusel__container">
    <div class="dots carusel__dots">
      <img src="img/svg/dots.svg" aria-label="false">
      <img src="img/svg/dots.svg" aria-label="false">
      <img src="img/svg/dots.svg" aria-label="false">
    </div>
    <h2 class="carusel__title">Наши продукты</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide__item slide__item-blue">
            <div class="slide__img">
              <img src="img/svg/robot1.svg" alt="Робот">
            </div>
            <p class="slide__title">Робот Марти</p>
            <p class="slide__text">Умный робот для обучения программированию</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide__item slide__item-red">
            <div class="slide__img">
              <img src="img/svg/robot2.svg" alt="Робот">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide__item slide__item-light">
            <div class="slide__img">
              <img src="img/svg/robot3.svg" alt="Робот">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide__item slide__item-orange">
            <div class="slide__img">
              <img src="img/svg/robot4.svg" alt="Робот">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide__item slide__item-aqva">
            <div class="slide__img">
              <img src="img/svg/robot5.svg" alt="Робот">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide__item slide__item-violet">
            <div class="slide__img">
              <img src="img/svg/robot6.svg" alt="Робот">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  </div>
</section>
