<section class="entry">
<div class="container entry__container">
  <div class="entry__logo">
    <img src="img/logo.png" alt="Лошотип">
  </div>
  <div class="entry__inner">
    <div class="entry__left">
          <h1 class="entry__title">Открой <span>мир</span>
            робототехники!</h1>
          <p class="entry__descr">Профессиональные эксперты, обзоры новинок
            в мире робототехники, живое общение
            с соратниками, с экспертами разных стран.
          </p>
        <div class="entry__img"></div>
      </div>
      <div class="entry__right">
      <p class="entry__text">Для доступа к внутренним ресурсам зарегистрируйтесь на сайте или войдите под своим аккаунтом.
        <div class="hero__form-box">

          <form action="#" class="hero__form entry__form">
            <p class="hero__form-title">Войти</p>
            <input class="hero__input" type="name" placeholder="Имя">
            <input class="hero__input" type="email" placeholder="Email">
            <button class="btn-reset hero__form-btn">Создать аккаунт</button>
            <p class="hero__form-text">или через</p>
            <ul class="list-reset social hero__sotial" title="">
              <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--tw"
                  aria-label="Наша страничка в Гугл">
                  <img src="img/google.png" alt="Гугл">
                </a>
              </li>
              <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--fb"
                  aria-label="Наша страничка в Фейсбуке">
                  <img src="img/fb.png" alt="Фейсбук">
                </a>
              </li>
              <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--vk"
                  aria-label="Наша страничка во Вконтакте">
                  <img src="img/vk.png" alt="В контакте">
                </a>
              </li>
            </ul>
            <p class="modal-record__text">Нет аккаунта?<span><a href="#"> Регистрация</a></span></p>
          </form>
        </div>
      </p>
      </div>
  </div>
</div>
</section>
