<section class="hero">
  <div class="container hero__container">
    <div class="hero__right">
      <h1 class="hero__title">Открой <span>мир</span>
        робототехники!</h1>
      <p class="hero__descr">Профессиональные эксперты, обзоры новинок
        в мире робототехники, живое общение
        с соратниками, с экспертами разных стран.
      </p>
      <form action="#" class="hero__form">
        <p class="hero__form-title">Регистрация</p>
        <input class="hero__input" type="name" placeholder="Имя">
        <input class="hero__input" type="email" placeholder="Email">
        <button class="btn-reset hero__form-btn"> <a href="record.html"></a> Создать аккаунт</button>
        <p class="hero__form-text">или через</p>
        <ul class="list-reset social hero__sotial" title="">
          <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--tw"
              aria-label="Наша страничка в Гугл">
              <img src="img/google.png" alt="Гугл">
            </a>
          </li>
          <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--fb"
              aria-label="Наша страничка в Фейсбуке">
              <img src="img/fb.png" alt="Фейсбук">
            </a>
          </li>
          <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--vk"
              aria-label="Наша страничка во Вконтакте">
              <img src="img/vk.png" alt="В контакте">
            </a>
          </li>
        </ul>
      </form>
    </div>
    <div class="hero__left">
      <img src="img/computer-work.png" alt="Computer">
    </div>

  </div>

</section>

