<section class="main-about">
  <div class="container main-about__container">
    <div class="main-about__img-box item-1">
      <img src="img/svg/main1.svg" alt="Ноутбук" class="main-about__img">
    </div>
    <div class="main-about__right item-2">
      <h2 class="main-about__title">Дидактические материалы</h2>
      <div class="dots main-about__dots">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
      </div>
      <p class="main-about__descr">Мы разработали и систематизировали учебные материалы по робототехнике, электронике и программированию. Материалы доступны для ознакомления всем зарегистрированным пользователям.</p>
      <button class="btn-reset main-about__main-btn">Зарегистрироваться</button>
    </div>
    <div class="main-about__right item-3">
      <h2 class="main-about__title">Повышайте
        квалификацию с нами</h2>
      <div class="dots main-about__dots">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
      </div>
      <div class="main-about__descr-box">
        <p class="main-about__descr">Наши эксперты регулярно проводят обучающие вебинары, а на самом портале вы найдете множество инструкций к роботам.</p>
      </div>
    </div>
    <div class="main-about__img-box item-4">
      <img src="img/svg/main2.svg" alt="Ноутбук" class="main-about__img">
    </div>
    <div class="main-about__img-box item-5">
      <img src="img/svg/main3.svg" alt="Ноутбук" class="main-about__img">
    </div>
    <div class="main-about__right item-6">
      <h2 class="main-about__title">От новичка к профессионалу</h2>
      <div class="dots main-about__dots">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
      </div>
      <p class="main-about__descr">Наша учебная программа охватывает все возрастные группы учащихся и может быть введена на любом этапе школьного образования.</p>
    </div>
    <div class="main-about__right item-7">
      <h2 class="main-about__title">Без ограничений</h2>
      <div class="dots main-about__dots">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
      </div>
      <div class="main-about__descr-box">
        <p class="main-about__descr">Наша компетенция «гуманоидная робототехника» представлена на федеральном конкурсе профессионального мастерства для людей с инвалидностью «Абилимпикс».</p>
         </div>
    </div>
    <div class="main-about__img-box item-8">
      <img src="img/svg/main4.svg" alt="Ноутбук" class="main-about__img">
    </div>
    <div class="main-about__img-box item-9">
      <img src="img/svg/main5.svg" alt="Ноутбук" class="main-about__img">
    </div>
    <div class="main-about__right item-10">
      <h2 class="main-about__title">Найдите единомышленников</h2>
      <div class="dots main-about__dots">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
        <img src="img/svg/dots.svg" aria-label="false">
      </div>
      <p class="main-about__descr">Наша учебная программа охватывает все возрастные группы учащихся и может быть введена на любом этапе школьного образования.</p>
      <button class="btn-reset main-about__btn">Вступить в клуб</button>
    </div>
  </div>
</section>
