<div class="graph-modal">
  <div class="graph-modal__container popup modal-record__container" role="dialog" aria-modal="true" data-graph-target="record">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content popup modal-record__content">
       <div class="hero__form-box">
        <p class="hero__form-title">Регистрация</p>
        <form action="#" class="hero__form">
          <input class="hero__input" type="name" placeholder="Имя">
          <input class="hero__input" type="email" placeholder="Email">
          <button class="btn-reset hero__form-btn">Создать аккаунт</button>
          <p class="hero__form-text">или через</p>
          <ul class="list-reset social hero__sotial" title="">
            <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--tw"
                aria-label="Наша страничка в Гугл">
                <img src="img/google.png" alt="Гугл">
              </a>
            </li>
            <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--fb"
                aria-label="Наша страничка в Фейсбуке">
                <img src="img/fb.png" alt="Фейсбук">
              </a>
            </li>
            <li class="social__item hero__sotial-item"><a href="#" target="_blank" class="social__link social__link--vk"
                aria-label="Наша страничка во Вконтакте">
                <img src="img/vk.png" alt="В контакте">
              </a>
            </li>
          </ul>
          <p class="modal-record__text">Уже зарегистрированы?<span><a href="#"> Войти</a></span></p>
        </form>
      </div>
    </div>
  </div>
</div>


